{{ define "main" }}
<div class="home-layout">
  <div class="home-main">
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    {{ range $paginator.Pages }}
      <article class="post on-list paper-card">
        <div class="post-heading">
          <div class="post-title-group">
            <h2 class="post-title">
              <a href="{{ .Permalink }}">· {{ .Title | markdownify }}</a>
            </h2>
            {{ with .File }}
              <a class="post-fileinfo" href="{{ $.RelPermalink }}" title="{{ .Path }}">[{{ .Path }}]</a>
            {{ end }}
          </div>

          <div class="post-meta">
            {{- if .Date -}}
              <time class="post-date">
                {{- partial "post-date" . -}}
              </time>
            {{- end -}}
            {{- with .Params.Author -}}
              <span class="post-author">作者：{{ . }}</span>
            {{- end -}}
          </div>
        </div>
        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}

        <div class="post-content">
          {{ if .Params.showFullContent }}
            <blockquote class="post-excerpt" style="font-style: normal;">
              {{ .Content  }}
            </blockquote>
          {{ else if .Description }}
            <blockquote class="post-excerpt">{{ .Description | plainify | truncate 150 }}</blockquote>
          {{ else }}
            <blockquote class="post-excerpt">{{ .Summary | plainify | truncate 150 }}</blockquote>
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
          <div class="post-footer">
            <a class="read-more" href="{{ .RelPermalink }}">{{ $.Site.Params.ReadMore | default "Read more" }}</a>
          </div>
        {{ end }}
      </article>
    {{ end }}
    {{ if not .Paginator.HasNext }}
      <p class="home-endline">-----已经到底啦-----</p>
    {{ end }}
    {{ partial "posts_pagination.html" . }}
  </div>
  </div>

  <div class="home-side">
    <aside class="home-info paper-card" aria-label="主页信息">
      <h2 class="info-card__title">本页信息</h2>
      <hr>
      <div class="info-card__content">
        <p>欢迎访问 Shameimaru_Aya 的 blogs 站。</p>
        <p>现在这里正在活跃装修，请经常回来看看以发现新的变化。</p>
        <p>修改自 Terminal 主题，基于 Hugo 构建。</p>
        <p>右下角的形象：原图小倉まお（X: @mao_dowob），重绘自一位朋友。点击以返回顶端。</p>
        <hr>
        {{ $latest := index (where .Site.RegularPages "Type" "posts") 0 }}
        {{ with $latest.GitInfo }}
        <div class="update-info">
          Last update: {{ .CommitDate.Format "2006-01-02 15:04:05" }}
          <br>
          Commit: {{ .Subject }}
        </div>
        {{ end }}
      </div>
    </aside>

    <aside class="home-info paper-card" aria-label="附加信息">
      <h2 class="info-card__title">联系我！</h2>
      <hr>
      <div class="info-card__content">
        <p>QQ：3229377505</p>
        <p>Mail：aitoricore@gmail.com</p>
      </div>
    </aside>

    <aside class="home-info paper-card" aria-label="功能模块">
      <h2 class="info-card__title">功能模块</h2>
      <hr>
      <p>随机一言：</p>
      <br>
      <div class="info-card__content">
        {{ partial "hitokoto.html" . }}
      </div>
    </aside>

    

  </div>
</div>
{{ end }}
