{{ define "main" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>

    <link rel="canonical" href="{{ "/" | absURL }}">
</head>

<body>

<p>
正在跳转……
</p>

<script>
(function () {

    // 默认目标
    const defaultTarget = "{{ "/" | relURL }}";

    // 获取 ?to=
    const params = new URLSearchParams(window.location.search);
    const target = params.get("to");

    // 没有目标时返回主页
    if (!target) {
        window.location.replace(defaultTarget);
        return;
    }

    try {
        const url = new URL(target, window.location.origin);

        // 只允许跳转到当前站点
        // 不然的话，可能能被某些攻击波及到
        // 一个事关安全性的小判断捏
        if (url.origin !== window.location.origin) {
            window.location.replace(defaultTarget);
            return;
        }

        window.location.replace(url.href);

    } catch {
        // 无效 URL 返回主页
        window.location.replace(defaultTarget);
    }

})();
</script>

<noscript>
    <p>
        请点击：
        <a href="{{ "/" | relURL }}">
        跳转
        </a>
    </p>
</noscript>

</body>
</html>
{{ end }}